.footer {
    background-color: #020A1C;
    display: flex;
    flex-direction: row;
    height: 8.45vh;
    padding: 0vw 3vw 0vw 3vw;
    margin-top: 1vh;
    align-items: center;

}

.footer div {
    padding: 0vw 3vw;
}
