* {
    margin: 0px;
    padding: 0px;
  }
  * {
    color: white;
  }
  body{
    background-color: rgb(216, 213, 213);
  }
  body{
    background-color: rgb(211, 196, 196);
  }

  ::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8e2424; /* Color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000; /* Color of the handle on hover */
  }