.Landing {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 90vw;
    margin: 1.5vh 5vw 1.5vh 5vw;
    border-radius: 15px;
}

.bio1 {
    border-radius: 15px;
    margin-bottom: 2vh;
    background-color: #2B2A3C;
    display: flex;
    flex-direction: row;
    height: 53vh;
    align-items: center;
    background-image: url('./Group 2Lightbg2.png');
    /* background-clip: ; */
    background-size: cover;
}


.bio1 div {
    padding-left: 5vw;
    width: 30vw;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: justify;
}

.bio1 div span {
    color: rgb(214, 118, 118);
    padding-right: 5px;
    font-size: 25px;

}

.bio1 div span:hover {
    color: rgb(193, 82, 82);
}

.icons {
    width: 80vw;
    margin: auto;
    border-radius: 15px;
    background-color: #020A1C;
    height: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ic1 img {
    transition: transform 0.3s ease;
}

.ic1 img:hover {
    transform: scale(1.12);
}

.icons div img {
    /* border-radius: 10px; */
    height: 11vh;
    width: 11vh;

}